<%= form_with(model: @q, url: products_path, method: "get", local: true, class: "search-form border border-2") do |f| %>
  <div class="row align-items-center">
    <div class="col-md">
      <div class="form-floating">
        <%= f.text_field :name_cont, class: "form-control", placeholder: t("input.search"), id: "floatingInputGrid" %>
        <label for="floatingInputGrid"><%= t("input.search") %></label>
      </div>
    </div>
    <div class="col-md-auto">
      <button type="submit" class="btn rounded-2"><%= t("button.search") %></button>
    </div>
  </div>
<% end %>
