<div class="swiper">
  <div class="swiper-wrapper">
    <% @product_outstandings.each do |product| %>
      <div class="swiper-slide d-flex justify-content-center">
        <div class="col-md-4 w-100">
          <div class="product-item-container">
            <div class="product-item-info">
              <%= product_image_tag(product) %>
              <h4><%= link_to product.name, product_path(product) %></h4>
               <div class="product-rating">
                  <% total_rating = product.comments.map(&:rating).sum.to_f %>
                  <% rating_count = product.comments.length %>
                  <% rating = (total_rating / rating_count).round(2) %>
                  <% Settings.DIGIT_5.times do |i| %>
                    <% if rating >= i + 1 %>
                      <i class="bi bi-star-fill" style="color: yellow;"></i>
                    <% else %>
                      <i class="bi bi-star" style="color: yellow;"></i>
                    <% end %>
                  <% end %>
                  <span>(<%= rating %>)</span>
                </div>
              <p><%= number_to_currency(product.price) %></p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
